<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create voting</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<form method="POST">
			<!-- {{ form.csrf_token }} -->
			<h1>Question (through ;)</h1>
			{{ form.question }}
			<h2>Options</h2>
			{{ form.options }}
			<br>
			<h2>Address</h2>
			{{ form.address }}
			<h2>Closed key</h2>
			{{ form.closedKey }}
			<input type='submit' class="btn btn-primary">
		</form>
	</div>
</body>
</html>
