<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vote</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<form method="POST">
			<h1> {{ question }} </h1>
            {{ form.opts }}
            {% for i in amount %}
                <h>{{i.0}}: {{i.1}}</h><br>
            {% endfor %}                
			<h2>Address</h2>
			{{ form.address }}
			<h2>Closed key</h2>
			{{ form.closedKey }}
			<input type='submit' class="btn btn-primary">
		</form>
	</div>
</body>
</html>
